.main {
  color: green;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  min-height: 100%;
}

.leftContainer {
  margin-top: 100px;
}

.leftContainer form {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding: 30px;
  width: 260px;
  background-color: blanchedalmond;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
}

.rightContainer h1{
  margin-bottom: 20px;
}

.item {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  font-size: 1rem;
}

.date {
  color:black;
  font-size: large;
  text-align: center;
}

.dateInput {
  width: 250px;
}

.item .delete {
  align-self: flex-end;
  cursor: pointer;
  color: orangered;
  font-size: x-large;
  height: 20px;
}

.item .created {
  align-self: flex-end;
  color: grey;
}

.rightContainer .item:hover {
  box-shadow: 10px 15px blanchedalmond;
}

.detail {
  display: flex;
  padding: 0px 20px 2px 20px;
  justify-content: space-between;
}


.main h1 {
  text-align: center;
}

.error {
  color: red;
}

.footer {
  display: flex;
  flex-direction:row ;
  margin-top: 50px;
  width: 100%;
  flex: 1;
  gap: 20px;
  padding: 2rem 0;
  background-color: blanchedalmond;
  border-top: 1px solid #eaeaea;
  font-size: medium;
  justify-content: center;
  align-items: center;
}
